# Exercise 9: Which stocks move together?

In the previous exercise, you clustered companies by their daily stock price movements.  So which company have stock prices that tend to change in the same way?  Now inspect the cluster labels from your clustering to find out.

**Step 1:** Load the data _(written for you)_.

In [1]:
import pandas as pd

fn = '../datasets/company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

**Step 2:** Run your code from the previous exercise _(filled in for you)_.

In [2]:
companies = list(stocks_df.index)
movements = stocks_df.values

from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters=14)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(steps=[('normalizer', Normalizer()),
                ('kmeans', KMeans(n_clusters=14))])

**Step 3:** Use the `.predict()` method of the pipeline to predict the labels for `movements`.

In [4]:
labels = pipeline.predict(movements)

**Step 4:** Align the cluster labels with the list of company names `companies` by creating a DataFrame `df` with `labels` and `companies` as columns.

In [6]:
df = pd.DataFrame({'companies':companies,'labels':labels})

In [10]:
stocks_df.head()

,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,...,2013-10-16,2013-10-17,2013-10-18,2013-10-21,2013-10-22,2013-10-23,2013-10-24,2013-10-25,2013-10-28,2013-10-29
Apple,0.580000,-0.220005,-3.409998,-1.170000,1.680011,-2.689994,-1.469994,2.779997,-0.680003,-4.999995,...,0.320008,4.519997,2.899987,9.590019,-6.540016,5.959976,6.910011,-5.359962,0.840019,-19.589981
AIG,-0.640002,-0.650000,-0.210001,-0.420000,0.710001,-0.200001,-1.130001,0.069999,-0.119999,-0.500000,...,0.919998,0.709999,0.119999,-0.480000,0.010002,-0.279998,-0.190003,-0.040001,-0.400002,0.660000
Amazon,-2.350006,1.260009,-2.350006,-2.009995,2.960006,-2.309997,-1.640007,1.209999,-1.790001,-2.039994,...,2.109985,3.699982,9.570008,-3.450013,4.820008,-4.079986,2.579986,4.790009,-1.760009,3.740021
American express,0.109997,0.000000,0.260002,0.720002,0.190003,-0.270001,0.750000,0.300004,0.639999,-0.130001,...,0.680001,2.290001,0.409996,-0.069999,0.100006,0.069999,0.130005,1.849999,0.040001,0.540001
Boeing,0.459999,1.770000,1.549999,2.690003,0.059997,-1.080002,0.360000,0.549999,0.530002,-0.709999,...,1.559997,2.480003,0.019997,-1.220001,0.480003,3.020004,-0.029999,1.940002,1.130005,0.309998

**Step 5:** Now display the DataFrame, sorted by cluster label.  To do this, use the `.sort_values()` method of `df` to sort the DataFrame by the `'labels'` column.

In [8]:
df.sort_values('labels')

                             companies  labels
52                            Unilever       0
46                      Sanofi-Aventis       0
47                            Symantec       0
43                                 SAP       0
42                   Royal Dutch Shell       0
6             British American Tobacco       0
19                     GlaxoSmithKline       0
50  Taiwan Semiconductor Manufacturing       0
49                               Total       0
37                            Novartis       0
23                                 IBM       1
53                       Valero Energy       1
32                                  3M       1
20                          Home Depot       1
16                   General Electrics       1
13                   DuPont de Nemours       1
12                             Chevron       1
10                      ConocoPhillips       1
39                              Pfizer       1
8                          Caterpillar       1
57                               Exxon       1
44                        Schlumberger       1
38                               Pepsi       2
41                       Philip Morris       2
31                           McDonalds       2
28                           Coca Cola       2
35                            Navistar       3
59                               Yahoo       3
15                                Ford       3
48                              Toyota       4
58                               Xerox       4
45                                Sony       4
21                               Honda       4
34                          Mitsubishi       4
7                                Canon       4
54                            Walgreen       5
1                                  AIG       6
3                     American express       6
5                      Bank of America       6
26                      JPMorgan Chase       6
55                         Wells Fargo       6
18                       Goldman Sachs       6
56                            Wal-Mart       7
40                      Procter Gamble       8
27                      Kimberly-Clark       8
25                   Johnson & Johnson       8
9                    Colgate-Palmolive       8
2                               Amazon       9
30                          MasterCard       9
0                                Apple      10
17                     Google/Alphabet      10
4                               Boeing      11
36                    Northrop Grumman      11
29                     Lookheed Martin      11
33                           Microsoft      12
51                   Texas instruments      12
24                               Intel      12
11                               Cisco      12
22                                  HP      13
14                                Dell      13

**Great job!** Using k-means, you've discovered which companies stock prices move together on the stock exchange.